/*============================================================================
	#Front Page
==============================================================================*/
.section {

	&__header {

		position: relative;
		padding: 33px 0;
		text-align: center;
		margin: 80px 0 40px;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 82px;
			height: 3px;
			background: $colorOrange;
			left: 50%;
			transform: translateX(-50%);
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

	}

	&__title {
		font-family: $fontPrimary;
		font-weight: $bold;
		font-size: 43px;
		text-transform: uppercase;
		margin: 0;
		line-height: 1.3;

		span {
			color: $colorOrange;
		}
	}

	&__typography {
		text-align: center;
		margin: 40px 0 80px;
	}
}

.section-card {
	position: relative;
	background: $colorBlack;
	height: 330px;
	margin: 40px 0 165px;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 10px;
		height: 100%;
		background: $colorBordo;
	}

	&__inner {
		display: flex;
		height: 100%;
	}

	&__media,
	&__content {
		flex: 0 0 50%;
		max-width: 50%;
		color: white;
	}

	&__media {
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		padding: 36px 46px 36px 49px;
	}

	&__title {
		font-family: $fontSecondary;
		font-weight: $regular;
		font-size: 30px;
		color: white;
		line-height: 0.93;
		margin-bottom: 28px;
		max-height: 54px;
		overflow: hidden;
	}

	&__typography {
		max-height: 140px;
		overflow: hidden;
	}
	

	&__button {
		position: absolute;
		bottom: 0;
		right: 0;
		background: $colorOrange;
		transform: translateY(50%);
	}
}

.main-slider {

	.swiper-slide {
		// min-height: 640px;
		height: auto;
	}
}

.testimonial {
	margin-top: 60px;
	margin-bottom: 120px;
	
	&__slider-section {
		padding: 40px 0;
		background: $colorBlack;
		color: white;
	}

	&__item {

	}

	&__header {
		text-align: center;
	}

	&__icon {
		width: 36px;
		margin-right: 10px;
	}

	&__title {
		font-family: $fontSecondary;
		font-size: 30px;
		font-weight: $regular;
		line-height: 1.2;
		color: white;

		span {
			color: $colorOrange;
			display: inline-block;
		}
	}

	&__descr {
		margin-top: 25px;
	}

	&__body {
		margin-top: 40px;
		text-align: center;
	}

	&__message {
		font-size: 30px;
		line-height: 1.16;
		font-family: $fontSecondary;
		color: $colorOrange;

	}

	&__user {
		color: $colorOrange;
		font-size: 14px;
		margin-top: 18px;
	}
}

.brands {
	padding: 38px 0 44px;
	margin: 50px 0 70px;
	border-top: 1px solid #BABABA;
	border-bottom: 1px solid #BABABA;

	.swiper-container {

		@include _lg {
			overflow: visible;
		}
	}

	.swiper-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		height: auto;

		img {
			filter: grayscale(100%);
			transition: filter 0.2s;
			cursor: pointer;

			&:hover {
				filter: grayscale(0%);
			}
		}
	}
	
}

.text-section {
	padding: 40px 0 55px;
	margin: 40px 0 100px;
	background: $colorBlack;
	color: white;

	&__header {
		display: flex;
		// align-items: center;
		margin-bottom: 40px;
	}

	&__pre-title {
		color: $colorOrange;
		fill: $colorOrange;
		font-family: $fontSecondary;
		font-size: 30px;
		line-height: 1;
		display: flex;
		align-items: center;
		margin-right: 22px;
		margin-left: 8px;
		flex: 0 0 auto;
		height: 100%;

		.icon {
			width: 31px;
			height: 31px;
			margin-right: 26px;
		}
	}

	&__title {
		font-size: 30px;
		line-height: 1;
		font-family: $fontSecondary;
		color: white;
		font-weight: $regular;
	}

	&__body {
		display: flex;
	}

	&__media {
		height: 350px;
		width: 387px;
		flex: 0 0 auto;
		border: 4px solid white;
		margin-right: 48px;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__typography {
		height: 350px;
		overflow: hidden;
	}
}

.section-info {
	padding: 20px 0;
	background: $colorBlack;
	color: white;
	margin: 40px 0 100px;

	&__header {
		display: flex;
	}

	&__pre-title {
		color: $colorOrange;
		fill: $colorOrange;
		font-family: $fontSecondary;
		font-size: 30px;
		display: flex;
		align-items: center;
		margin-right: 22px;
		margin-left: 8px;
		flex: 0 0 auto;
		height: 100%;

		.icon {
			width: 31px;
			height: 31px;
			margin-right: 26px;
		}
	}

	&__title {
		font-size: 30px;
		font-family: $fontSecondary;
		color: white;
		font-weight: $regular;
	}
}
@include _xl {

	.section-info {

		&__header {
			flex-direction: column;
			align-items: center;
		}

		&__pre-title,
		&__title {
			line-height: 1.1;
			text-align: center;
			margin: 0;
		}
	}

}

@include _lg {

	.section {


		&__title {
			font-size: 36px;
		}
	}

	.section-card {
			height: auto;

		&::after {
			display: none;
		}

		&__inner {
			flex-direction: column;
		}

		&__media,
		&__content {

			flex: 0 0 100%;
			max-width: 100%;
		}
		&__media {
			height: 330px;
		}

		&__content {
			border-top: 10px solid $colorBordo;
		}
	}

	.text-section {

		&__header {
			flex-direction: column;
			text-align: center;
		}

		&__pre-title {
			justify-content: center;
			text-align: center;
			margin: 0 0 10px 0;
		}

		&__body {
			display: block;
		}

		&__media {
			width: 320px;
			height: 300px;
			margin-right: 30px;
			float: left;
			
		}

		&__typography {
			height: auto;
			overflow: inherit;
		}
	}

	.section-info {

		&__pre-title {
			flex-direction: column;
			align-items: center;
			
			.icon {
				margin: 0 0 10px 0;
			}
		}
	}

	.testimonial {
		margin-top: 40px;
		margin-bottom: 80px;
	}
}

@include _md {

	.section-card {
		margin: 30px 0 110px;

		&__media {
			height: 330px;
		}
	}

	.testimonial {

		&__title,
		&__message {
			font-size: 28px;
		}

		&__body {
			margin-top: 25px;
		}
	}

	.text-section {

		&__pre-title,
		&__title {
			font-size: 25px;
		}

		&__media {
			float: none;
			width: 100%;
			margin-right: 0;
			margin-bottom: 30px;
		}

		&__typography {
			text-align: center;
		}
	}
} 

@include _sm {

	.section {

		&__header {
			margin: 60px 0 30px;
			padding: 23px 0;
		}

		&__title {
			font-size: 26px;
		}

		&__typography {
			margin: 30px 0 60px;
		}
	}

	.section-card {
		margin: 30px 0 80px;

		margin-left: -20px;
		margin-right: -20px;

		&__media {
			height: 265px;
		}

		&__content {
			padding: 35px 30px 35px 30px;
		}

		&__title {
			font-size: 25px;
			max-height: 100%;
			text-align: center;
			margin-bottom: 20px;
		}

		&__typography {
			max-height: 100%;
		}

		&__button {
			position: static;
			width: 100%;
			justify-content: center;
			transform: translateY(0);
		}
	}

	.testimonial {

		&__slider-section {
			padding: 40px 15px;	
		}

		.container {
			padding: 0;
		}

		&__icon {
			width: 32px;
			margin-right: 10px;
		}

		&__title,
		&__message {
			font-size: 25px;
		}
	}

	.section-info {

		&__pre-title {

			.icon {
				width: 25px;
				height: 25px;
			}
		}

		&__pre-title,
		&__title {

			font-size: 25px;
		}
	}

}

@include _480 {

	.text-section {

		&__pre-title {
			flex-direction: column;

			.icon {
				margin-right: 0;
			}
		}
	}
}

@include _350 {

	.section-card {
		font-size: 16px;
	}
}