@mixin H1($prop-color: #000000) {
	font-family: $fontHeadings;
	font-size: 48px;
	line-height: 1.185;
	font-weight: $regular;
	color: $prop-color;
}


@mixin _xl {
    @media (max-width: 1260px){
        @content;
    }
}
@mixin _lg {
    @media (max-width: 991.98px){
        @content;
    }
}
@mixin _md {
    @media (max-width: 767.98px){
        @content;
    }
}
@mixin _sm {
    @media (max-width: 575.98px){
        @content;
    }
}

@mixin _480 {
    @media (max-width: 480px){
        @content;
    }
}
@mixin _350{
    @media (max-width: 350px){
        @content;
    }
}