// Fonts 
/////////////////////////////////////////

// font-family
$fontPrimary	: 'Roboto Condensed', sans-serif;
$fontSecondary  : 'BankGothic', sans-serif;
$fontHeadings  : 'Roboto Condensed', sans-serif;

// fotn-weight
$light	   : 300;
$regular   : 400; // normal
$semiBold  : 600;
$bold      : 700;
$extraBold : 800;

// Colors
/////////////////////////////////////////

$colorFont	 : #161616;
$colorBlack  : #141414;
$colorOrange : #E27437;
$colorBordo	 : #742830;


