/*============================================================================
	#Header
==============================================================================*/
.header {
	position: relative;
	z-index: 2;

	&__top-bar {
		background: $colorBlack;
	}

	&__logo {
		margin-right: 111px;
	}

	&__menu {

		padding-top: 8px;
	}

	&__menu-button {
		position: fixed;
		display: flex;
		display: none;
		visibility: hidden;
		width: 100%;
		background: $colorBordo;
		color: white;
		fill: white;

		.burger {
			border: 0;
			color: white;
			background: none;
			padding: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 16px;
			text-transform: uppercase;
			line-height: 1; 
			// width: 100%;
			padding: 9px 0 6px;
			cursor: pointer;
		}

		.icon-burger {
			margin-left: 14px;
			margin-top: -3px;
			width: 15px;
			height: 13px;
		}
	}
}

.mobile-bar {
	display: none;
	visibility: hidden;
	padding: 10px 0;
	background-color: $colorOrange;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	min-height: 55px;

	&__buttons {
		display: flex;
		justify-content: flex-start;
	}

	.icon-phone {
		width: 32px;
		height: 32px;
	}

	.icon-email {
		width: 40px;
		height: 32px;
	}
	
	.icon-marker {
		width: 24px;
		height: 32px;
	}

	.icon-facebook-round {
		width: 34px;
		height: 34px;
	}

	&__button {
		fill: white;
		display: inline-block;
		margin-right: 46px;

		&:last-child {
			margin: 0;
		}
	}
}

.top-bar {
	
	&__container {
		display: flex;
	}

	&__section {
		display: flex;
		height: 50px;
		align-items: center;

		&._contacts {
			padding-right: 44px;
			position: relative;
			z-index: 1;
			border-right: 9px solid $colorBordo;

			
			&::before {
				position: absolute;
				content: '';
				height: 100%;
				width: 1920px;
				right: 0;
				top: 0;
				background: $colorOrange;
				z-index: -1;
			}
		}

		&._address {
			justify-content: flex-end;
			flex: 1;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		color: white;
		font-size: 16px;
		text-decoration: none;

		.icon {
			fill: white;
			margin-right: 14px;
			flex: 0 0 auto;
		}

		&._mail {
			margin-right: 36px;
		}

		&._address {
			margin-right: 47px;
		}

		&:active,
		&:visited {
			color: white;
		}

	}

	a {
		&:hover {
			text-decoration: underline;
		}
	}
}

.socialmedia {
	margin-left: 23px;

	&__item {
		display: flex;
		align-items: center;
		padding: 0 20px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 22px;
			background: white;
		}

		&._facebook {

			&:hover .icon {
				fill: #4267B2;
			}
		}
		
	}

	.icon {
		margin: 0 0 0 0;
	}
}

.header-main {

	&__inner {
		padding: 50px 0 60px;
		display: flex;
		align-items: center;
	}

	.button-information {

		fill: $colorOrange;
		display: inline-flex;
		margin-left: auto;
		margin-right: 4px;
		margin-top: 2px;
	}
}

.menu {
	
	&__list {
		display: flex;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	&__item {
		padding: 0 28px;
		position: relative;
		
		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		&:not(:last-child):before {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 11px;
			width: 1px;
			background: $colorBordo;

		}

		&:hover {

			.menu__link {
				color: $colorBordo;
			}
		}
	}

	&__link {
		font-size: 18px;
		font-weight: $bold;
		color: $colorFont;
		text-decoration: none;
		text-transform: uppercase;
		transition: color 0.2s;

		&:active,
		&:visited {
			color: $colorFont;
		}
	}

	.submenu {
		// display: none;
		position: absolute;
		left: 0;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transform: translateY(20px);
		transition: all 0.3s;
	}
}

.menu__item:hover .submenu {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translateY(0);
}

.submenu {
	background: white;
	list-style-type: none;
	padding: 13px 36px 12px 26px;
	margin: 0;

	&__item {
		margin-bottom: 4px;

		&:hover {

			.submenu__link {
				color: $colorBordo;
			}
		}
	}

	&__link {
		font-size: 18px;
		color: $colorFont;
		transition: color 0.2s;
		text-decoration: none;
		display: block;

		&:active,
		&:visited {
			color: $colorFont;
		}
	}
}

@include _xl {

	.header {

		&__logo {
			max-width: 170px;
			margin-right: 40px;
		}
	}

	.top-bar {

		&__item {
			font-size: 14px;
			line-height: 18px;
		}

		&__section {

			&._address {
				padding-left: 40px;
			}
		}
	}
	
	.menu {

		&__item {
			padding: 0 22px;
		}
	}
		
}

@include _lg {
	.header {
		padding-top: 55px;

		&__menu-button {
			display: flex;
			visibility: visible;
			position: relative;

			.container {
				display: flex;
				justify-content: center;
			}

			&._sticky {
				position: fixed;
				top: 55px;
			}
		}

		&__logo {
			margin-right: 0;
			max-width: 100%;
		}
	}	

	.header-main {

		&__inner {
			padding: 35px 0;
			justify-content: center;
			position: relative;
		}

		.button-information {
			margin: 0;
			position: absolute;
			left: calc(50% + 140px);
			top: 10px;

			.icon-information {
				width: 21px;
				height: 21px;
			}
		}
	}

	.mobile-bar {
		display: block;
		visibility: visible;

		&__buttons {
			justify-content: center;
		}
	}

	.top-bar {
		display: none;
		visibility: hidden;
	}

	.menu {
		display: none;
		background: white;
		height: calc(100vh - 202px);
		top: 0;
		left: 0;
		width: 100%;
		overflow: auto;
		text-align: center;
		padding-top: 20px;

		&__list {
			display: flex;
			flex-direction: column;
			max-width: 720px;
			margin: 0 auto;
			padding: 0 20px;
			min-width: 360px;
		}

		&__item {
			padding: 0 30px;
			&:last-child,
			&:first-child {
				padding: 0 30px;
			}

			&::before {
				display: none;
			}
		}
 

		&._opened {
			display: flex;
			position: fixed;
		}
	}

	.menu__item._submenu {
		position: relative;
		&::before,
		&::after {
			content: '';
			width: 12px;
			height: 2px;
			position: absolute;
			background: $colorBordo;
			right: 30px;
			top: 16px;
			transition: transform 0.2s;
			display: block;
			transform: none;
		}

		&::after {
			transform: rotate(90deg);
		}

		&._opened::after {
			transform: rotate(0deg);
		}
	} 

	.menu__item {
		.submenu {
			visibility: visible;
			opacity: 1;
			position: static;
			transform: translateY(0);
		}
	}

	.submenu {
		padding: 14px 28px;
		display: none;
	}
}

@include _sm {
	.menu {

		&__link {
			font-weight: $regular;
		}
	}
}

@include _480 {

	.menu {

		&__list {
			min-width: 100%;
		}
	}
}
