@@include('partials/header.html')

		<div class="main-slider">
			<div class="main-slider__container swiper-container js-main-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img class="swiper-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/slider-image-1.jpg" alt="">
						<div class="swiper-lazy-preloader"></div>
					</div>
					<div class="swiper-slide">
						<img class="swiper-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/slider-image-1.jpg" alt="">
						<div class="swiper-lazy-preloader"></div>
					</div>
					<div class="swiper-slide">
						<img class="swiper-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/slider-image-1.jpg" alt="">
						<div class="swiper-lazy-preloader"></div>
					</div>s
				</div>
			</div>

			<div class="main-slider__pagination swiper-pagination js-main-slider-pagination"></div>
		</div>

		<div class="section">
			<div class="container">
				<header class="section__header">
					<h2 class="section__title"><span>Seit 1990:</span> Ihr Partner für schönes Wohnen</h2>
				</header>
				<div class="section__typography typography">
					<p>Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld. FleSo’s ist bekannt für seine Kundenberatung, den erstklassigen Service und seine Top-Qualität. Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld.</p>
				</div>
				<div class="section-card">
					<div class="section-card__inner">
						<div class="section-card__media">
							<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/post-card-image-2.jpg" alt="">
						</div>
						<div class="section-card__content">
							<h3 class="section-card__title">Lorem ipsum dolor sit amet, sadipscing elitr Lorem ipsum</h3>
							<div class="section-card__typography typography">
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea </p>
							</div>
						</div>
						<a href="#" class="section-card__button button-primary">
							Alle Handwerkerleistungen ansehen
							<svg class="icon icon-arrow-right">
								<use xlink:href="symbol/sprite.svg#arrow-right"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="testimonial">
			<div class="testimonial__slider-section">
				<div class="testimonial__slider swiper-container js-testimonial-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="container">
								<div class="testimonial__item">
									<header class="testimonial__header">
										<h3 class="testimonial__title">
											<img class="testimonial__icon"  src="icons/heart.svg" alt="">
											<span>Ihre Meinung ist uns wichtig!&nbsp</span>Für Kritik sind wir immer offen.
										</h3>
										<div class="testimonial__descr typography">
											<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, laboriosam quisquam! Cum vel laborum, nihil perferendis aspernatur magni quam rem voluptas repudiandae libero! Quae in repudiandae voluptas minus! Fugiat, magnam.</p>
										</div>
									</header>
									
									<div class="testimonial__body">
										<div class="testimonial__message typography">
											"Sehr guter Service vom Aufmaß bis zum Verlegen. Nette Mitarbeiter. Malerarbeiten im Angebot. Sauber & ordentlich."
										</div>
										<div class="testimonial__user">Havel13 - Google</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="container">
								<div class="testimonial__item">
									<header class="testimonial__header">
										<h3 class="testimonial__title">
											<img class="testimonial__icon"  src="icons/heart.svg" alt="">
											<span>Ihre Meinung ist uns wichtig!&nbsp</span>Für Kritik sind wir immer offen.
										</h3>
										<div class="testimonial__descr typography">
											<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, laboriosam quisquam! Cum vel laborum, nihil perferendis aspernatur magni quam rem voluptas repudiandae libero! Quae in repudiandae voluptas minus! Fugiat, magnam.</p>
										</div>
									</header>
									
									<div class="testimonial__body">
										<div class="testimonial__message typography">
											"Sehr guter Service vom Aufmaß bis zum Verlegen. Nette Mitarbeiter. Malerarbeiten im Angebot. Sauber & ordentlich."
										</div>
										<div class="testimonial__user">Havel13 - Google</div>
									</div>
								</div>
							</div>
						</div><div class="swiper-slide">
							<div class="container">
								<div class="testimonial__item">
									<header class="testimonial__header">
										<h3 class="testimonial__title">
											<img class="testimonial__icon"  src="icons/heart.svg" alt="">
											<span>Ihre Meinung ist uns wichtig!&nbsp</span>Für Kritik sind wir immer offen.
										</h3>
										<div class="testimonial__descr typography">
											<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, laboriosam quisquam! Cum vel laborum, nihil perferendis aspernatur magni quam rem voluptas repudiandae libero! Quae in repudiandae voluptas minus! Fugiat, magnam.</p>
										</div>
									</header>
									
									<div class="testimonial__body">
										<div class="testimonial__message typography">
											"Sehr guter Service vom Aufmaß bis zum Verlegen. Nette Mitarbeiter. Malerarbeiten im Angebot. Sauber & ordentlich."
										</div>
										<div class="testimonial__user">Havel13 - Google</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				
			<div class="testimonial__pagination swiper-pagination js-testimonial-slider-pagination"></div>
		</div>

		<div class="section">
			<div class="container">
				<header class="section__header">
					<h2 class="section__title">Riesen Auswahl - <span>Faire Preise</span></h2>
				</header>
			</div>
		</div>

		<div class="brands">
			<div class="container">
				<div class="brands__slider swiper-container js-brands-slider">
					<div class=" swiper-wrapper">
						<div class=" swiper-slide">
							<img src="images/demo/marke-01.jpg" alt="">
						</div>
						<div class=" swiper-slide">
							<img src="images/demo/marke-02.jpg" alt="">
						</div>
						<div class=" swiper-slide">
							<img src="images/demo/marke-03.jpg" alt="">
						</div>
						<div class=" swiper-slide">
							<img src="images/demo/marke-01.jpg" alt="">
						</div>
						<div class=" swiper-slide">
							<img src="images/demo/marke-02.jpg" alt="">
						</div>
						<div class=" swiper-slide">
							<img src="images/demo/marke-03.jpg" alt="">
						</div>
						<div class=" swiper-slide">
							<img src="images/demo/marke-02.jpg" alt="">
						</div>
						<div class=" swiper-slide">
							<img src="images/demo/marke-01.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="section-card">
					<div class="section-card__inner">
						<div class="section-card__media">
							<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/post-card-image-1.jpg" alt="">
						</div>
						<div class="section-card__content">
							<h3 class="section-card__title">Lorem ipsum dolor sit amet, sadipscing elitr Lorem ipsum</h3>
							<div class="section-card__typography typography">
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea </p>
							</div>
						</div>
						<a href="#" class="section-card__button button-primary">
							Alle Handwerkerleistungen ansehen
							<svg class="icon icon-arrow-right">
								<use xlink:href="symbol/sprite.svg#arrow-right"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="text-section">
			<div class="container">
				<header class="text-section__header">
					<span class="text-section__pre-title">
						<svg class="icon icon-circle">
							<use xlink:href="symbol/sprite.svg#info-circle"></use>
						</svg>
						Schon gewusst?
					</span>
					<h2 class="text-section__title">Wir bieten Auslegware in einer Breite von 5m an!</h2>
				</header>
				<div class="text-section__body">
					<div class="text-section__media">
						<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/flesos-titel.jpg" alt="">
					</div>
					<div class="text-section__typography typography">
						<p>Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld. FleSo’s ist bekannt für seine Kundenberatung, den erstklassigen Service und seine Top-Qualität. Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld.</p>

						<p>Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld. FleSo’s ist bekannt für seine Kundenberatung, den erstklassigen Service und seine Top-Qualität. Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld.Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld. FleSo’s ist bekannt für seine Kundenberatung, den erstklassigen Service und seine Top-Qualität. Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<header class="section__header">
					<h2 class="section__title"><span>Ronny Mahlow:</span> Neuer Inhaber seit 2019</h2>
				</header>
				<div class="section__typography typography">
					<p>Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld. FleSo’s ist bekannt für seine Kundenberatung, den erstklassigen Service und seine Top-Qualität. Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld.</p>
				</div>
				<div class="section-card">
					<div class="section-card__inner">
						<div class="section-card__media">
							<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/post-card-image-1.jpg" alt="">
						</div>
						<div class="section-card__content">
							<h3 class="section-card__title">Lorem ipsum dolor sit amet, sadipscing elitr Lorem ipsum</h3>
							<div class="section-card__typography typography">
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea </p>
							</div>
						</div>
						<a href="#" class="section-card__button button-primary">
							Alle Handwerkerleistungen ansehen
							<svg class="icon icon-arrow-right">
								<use xlink:href="symbol/sprite.svg#arrow-right"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="section-info">
			<div class="container">
				<header class="section-info__header">
					<span class="section-info__pre-title">
						<svg class="icon icon-circle">
							<use xlink:href="symbol/sprite.svg#info-circle"></use>
						</svg>
						Schon gewusst?
					</span>
					<h2 class="section-info__title">Kostenloses Aufmaß direkt bei Ihnen vor Ort!</h2>
				</header>
			</div>
		</div>

@@include('partials/footer.html')
