@@include('partials/header.html')

		<div class="main-slider">
			<div class="main-slider__container swiper-container js-main-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img class="swiper-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/slider-image-1.jpg" alt="">
						<div class="swiper-lazy-preloader"></div>
					</div>
					<div class="swiper-slide">
						<img class="swiper-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/slider-image-1.jpg" alt="">
						<div class="swiper-lazy-preloader"></div>
					</div>
					<div class="swiper-slide">
						<img class="swiper-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/slider-image-1.jpg" alt="">
						<div class="swiper-lazy-preloader"></div>
					</div>s
				</div>
			</div>

			<div class="main-slider__pagination swiper-pagination js-main-slider-pagination"></div>
		</div>

		<div class="section">
			<div class="container">
				<header class="section__header">
					<h2 class="section__title"><span>Seit 1990:</span> Ihr Partner für schönes Wohnen</h2>
				</header>
				<div class="section__typography typography">
					<p>Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld. FleSo’s ist bekannt für seine Kundenberatung, den erstklassigen Service und seine Top-Qualität. Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld.</p>
				</div>
				<div class="section-card">
					<div class="section-card__inner">
						<div class="section-card__media">
							<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/post-card-image-2.jpg" alt="">
						</div>
						<div class="section-card__content">
							<h3 class="section-card__title">Lorem ipsum dolor sit amet, sadipscing elitr Lorem ipsum</h3>
							<div class="section-card__typography typography">
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea </p>
							</div>
						</div>
						<a href="#" class="section-card__button button-primary">
							Alle Handwerkerleistungen ansehen
							<svg class="icon icon-arrow-right">
								<use xlink:href="symbol/sprite.svg#arrow-right"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="testimonial">
			<div class="testimonial__slider-section">
				<div class="testimonial__slider swiper-container js-testimonial-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="container">
								<div class="testimonial__item">
									<header class="testimonial__header">
										<h3 class="testimonial__title">
											<img class="testimonial__icon"  src="icons/heart.svg" alt="">
											<span>Ihre Meinung ist uns wichtig!&nbsp</span>Für Kritik sind wir immer offen.
										</h3>
										<div class="testimonial__descr typography">
											<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, laboriosam quisquam! Cum vel laborum, nihil perferendis aspernatur magni quam rem voluptas repudiandae libero! Quae in repudiandae voluptas minus! Fugiat, magnam.</p>
										</div>
									</header>
									
									<div class="testimonial__body">
										<div class="testimonial__message typography">
											"Sehr guter Service vom Aufmaß bis zum Verlegen. Nette Mitarbeiter. Malerarbeiten im Angebot. Sauber & ordentlich."
										</div>
										<div class="testimonial__user">Havel13 - Google</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="container">
								<div class="testimonial__item">
									<header class="testimonial__header">
										<h3 class="testimonial__title">
											<img class="testimonial__icon"  src="icons/heart.svg" alt="">
											<span>Ihre Meinung ist uns wichtig!&nbsp</span>Für Kritik sind wir immer offen.
										</h3>
										<div class="testimonial__descr typography">
											<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, laboriosam quisquam! Cum vel laborum, nihil perferendis aspernatur magni quam rem voluptas repudiandae libero! Quae in repudiandae voluptas minus! Fugiat, magnam.</p>
										</div>
									</header>
									
									<div class="testimonial__body">
										<div class="testimonial__message typography">
											"Sehr guter Service vom Aufmaß bis zum Verlegen. Nette Mitarbeiter. Malerarbeiten im Angebot. Sauber & ordentlich."
										</div>
										<div class="testimonial__user">Havel13 - Google</div>
									</div>
								</div>
							</div>
						</div><div class="swiper-slide">
							<div class="container">
								<div class="testimonial__item">
									<header class="testimonial__header">
										<h3 class="testimonial__title">
											<img class="testimonial__icon"  src="icons/heart.svg" alt="">
											<span>Ihre Meinung ist uns wichtig!&nbsp</span>Für Kritik sind wir immer offen.
										</h3>
										<div class="testimonial__descr typography">
											<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, laboriosam quisquam! Cum vel laborum, nihil perferendis aspernatur magni quam rem voluptas repudiandae libero! Quae in repudiandae voluptas minus! Fugiat, magnam.</p>
										</div>
									</header>
									
									<div class="testimonial__body">
										<div class="testimonial__message typography">
											"Sehr guter Service vom Aufmaß bis zum Verlegen. Nette Mitarbeiter. Malerarbeiten im Angebot. Sauber & ordentlich."
										</div>
										<div class="testimonial__user">Havel13 - Google</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				
			<div class="testimonial__pagination swiper-pagination js-testimonial-slider-pagination"></div>
		</div>

		<div class="section">
			<div class="container">
				<header class="section__header">
					<h2 class="section__title">Riesen Auswahl - <span>Faire Preise</span></h2>
				</header>
			</div>
		</div>

		<div class="brands">
			<div class="container">
				<div class="brands__slider swiper-container js-brands-slider">
					<div class=" swiper-wrapper">
						<div class=" swiper-slide">
							<img src="images/demo/marke-01.jpg" alt="">
						</div>
						<div class=" swiper-slide">
							<img src="images/demo/marke-02.jpg" alt="">
						</div>
						<div class=" swiper-slide">
							<img src="images/demo/marke-03.jpg" alt="">
						</div>
						<div class=" swiper-slide">
							<img src="images/demo/marke-01.jpg" alt="">
						</div>
						<div class=" swiper-slide">
							<img src="images/demo/marke-02.jpg" alt="">
						</div>
						<div class=" swiper-slide">
							<img src="images/demo/marke-03.jpg" alt="">
						</div>
						<div class=" swiper-slide">
							<img src="images/demo/marke-02.jpg" alt="">
						</div>
						<div class=" swiper-slide">
							<img src="images/demo/marke-01.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="section-card">
					<div class="section-card__inner">
						<div class="section-card__media">
							<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/post-card-image-1.jpg" alt="">
						</div>
						<div class="section-card__content">
							<h3 class="section-card__title">Lorem ipsum dolor sit amet, sadipscing elitr Lorem ipsum</h3>
							<div class="section-card__typography typography">
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea </p>
							</div>
						</div>
						<a href="#" class="section-card__button button-primary">
							Alle Handwerkerleistungen ansehen
							<svg class="icon icon-arrow-right">
								<use xlink:href="symbol/sprite.svg#arrow-right"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="text-section">
			<div class="container">
				<header class="text-section__header">
					<span class="text-section__pre-title">
						<svg class="icon icon-circle">
							<use xlink:href="symbol/sprite.svg#info-circle"></use>
						</svg>
						Schon gewusst?
					</span>
					<h2 class="text-section__title">Wir bieten Auslegware in einer Breite von 5m an!</h2>
				</header>
				<div class="text-section__body">
					<div class="text-section__media">
						<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/flesos-titel.jpg" alt="">
					</div>
					<div class="text-section__typography typography">
						<p>Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld. FleSo’s ist bekannt für seine Kundenberatung, den erstklassigen Service und seine Top-Qualität. Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld.</p>

						<p>Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld. FleSo’s ist bekannt für seine Kundenberatung, den erstklassigen Service und seine Top-Qualität. Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld.Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld. FleSo’s ist bekannt für seine Kundenberatung, den erstklassigen Service und seine Top-Qualität. Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<header class="section__header">
					<h2 class="section__title"><span>Ronny Mahlow:</span> Neuer Inhaber seit 2019</h2>
				</header>
				<div class="section__typography typography">
					<p>Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld. FleSo’s ist bekannt für seine Kundenberatung, den erstklassigen Service und seine Top-Qualität. Wenn es Rund um das Thema Raumgestaltung geht, bieten Ihnen die FleSo’s-Fachmärkte einen erstklassigen Service für wenig Geld.</p>
				</div>
				<div class="section-card">
					<div class="section-card__inner">
						<div class="section-card__media">
							<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/post-card-image-1.jpg" alt="">
						</div>
						<div class="section-card__content">
							<h3 class="section-card__title">Lorem ipsum dolor sit amet, sadipscing elitr Lorem ipsum</h3>
							<div class="section-card__typography typography">
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea </p>
							</div>
						</div>
						<a href="#" class="section-card__button button-primary">
							Alle Handwerkerleistungen ansehen
							<svg class="icon icon-arrow-right">
								<use xlink:href="symbol/sprite.svg#arrow-right"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="section-info">
			<div class="container">
				<header class="section-info__header">
					<span class="section-info__pre-title">
						<svg class="icon icon-circle">
							<use xlink:href="symbol/sprite.svg#info-circle"></use>
						</svg>
						Schon gewusst?
					</span>
					<h2 class="section-info__title">Kostenloses Aufmaß direkt bei Ihnen vor Ort!</h2>
				</header>
			</div>
		</div>

		<div class="section" style="margin: 60px 0 100px">
			<div class="container">
				<div class="historyline">
					<div class="historyline__container">
						<div class="historyline__row">
							<div class="historyline__text">
								Im Mai 1990 entstand aus der ehemaligen ELG LETEX die Firma FleSo’s. Der Firmenname wurde aus den beiden Zunamen der Gründer Thomas Fletling und Conrad Sonntag zusammengesetzt. Nach dem Tod von Conrad Sonntag, stieg Ehefrau Christiane Fletling in das Unternehmen mit ein.
							</div>
							<div class="historyline__year">1990</div>
						</div>
						<div class="historyline__row">
							<div class="historyline__text">
								Der Schritt zum Großmarkt wurde erfolgreich vollzogen, sowie der Umzug zum Hafen, gleich neben der Brandenburger Bank.
							</div>
							<div class="historyline__year">1993</div>
						</div>
						<div class="historyline__row">
							<div class="historyline__text">
								Nachdem der Betrieb nicht mehr aus dem Wirtschaftsleben der Stadt wegzudenken war, brannte das Geschäft am 22. Juni 1996 bis auf die Grundmauern nieder. Mit Hilfe von Kunden, Geschäftsfreunden und Mitarbeitern wurde das Unternehmen bereits drei Monate später und in wenigen Metern entfernt neu eröffnet.
							</div>
							<div class="historyline__year">1996</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section" style="margin: 60px 0 100px">
			<div class="container">
				<div class="service">
					<div class="service__header">
						<button class="service__button _active">
							<svg class="icon icon-tapeten">
								<use xlink:href="symbol/sprite.svg#tapeten"></use>
							</svg>
							<span>Tapeten</span>
						</button>
						<button class="service__button">
							<svg class="icon icon-farben">
								<use xlink:href="symbol/sprite.svg#farben"></use>
							</svg>
							<span>Farben</span>
						</button>
						<button class="service__button">
							<svg class="icon icon-teppichboden">
								<use xlink:href="symbol/sprite.svg#teppichboden"></use>
							</svg>
							<span>Teppichboden</span>
						</button>
						<button class="service__button">
							<svg class="icon icon-teppiche">
								<use xlink:href="symbol/sprite.svg#teppiche"></use>
							</svg>
							<span>Teppiche</span>
						</button>
						<button class="service__button">
							<svg class="icon icon-bodenbeläge">
								<use xlink:href="symbol/sprite.svg#bodenbeläge"></use>
							</svg>
							<span>Bodenbeläge</span>
						</button>
						<button class="service__button">
							<svg class="icon icon-insektenschutz">
								<use xlink:href="symbol/sprite.svg#insektenschutz"></use>
							</svg>
							<span>Insektenschutz</span>
						</button>
						<button class="service__button">
							<svg class="icon icon-markisen">
								<use xlink:href="symbol/sprite.svg#markisen"></use>
							</svg>
							<span>Markisen</span>
						</button>
						<button class="service__button">
							<svg class="icon icon-turen">
								<use xlink:href="symbol/sprite.svg#turen"></use>
							</svg>
							<span>Türen</span>
						</button>
						<button class="service__button">
							<svg class="icon icon-gardinen">
								<use xlink:href="symbol/sprite.svg#gardinen"></use>
							</svg>
							<span>Gardinen</span>
						</button>
						<button class="service__button">
							<svg class="icon icon-sonnenschutz">
								<use xlink:href="symbol/sprite.svg#sonnenschutz"></use>
							</svg>
							<span>Sonnenschutz</span>
						</button>
					</div>
					<div class="service__body">
						<div class="service__item service-item _active">
							<div class="service-item__media">
								<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/service-image.jpg" alt="">
							</div>
							<div class="service-item__content">
								<div class="service-item__title">Lorem ipsum dolor sit amet, <br>sadipscing elitr Lorem ipsum dolor</div>
								<div class="service-item__typography typography">
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
								</div>
								<a href="#" class="service-item__button button-primary">
									Alle Handwerkerleistungen ansehen
									<svg class="icon icon-arrow-right">
										<use xlink:href="symbol/sprite.svg#arrow-right"></use>
									</svg>
								</a>
							</div>
						</div>
						<div class="service__item service-item">
							<div class="service-item__media">
								<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/flesos-titel.jpg" alt="">
							</div>
							<div class="service-item__content">
								<div class="service-item__title">2. Lorem ipsum dolor sit amet, sadipscing elitr Lorem ipsum dolor</div>
								<div class="service-item__typography">
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</div>
							</div>
						</div>
						<div class="service__item service-item">
							<div class="service-item__media">
								<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/flesos-titel.jpg" alt="">
							</div>
							<div class="service-item__content">
								<div class="service-item__title">3. Lorem ipsum dolor sit amet, sadipscing elitr Lorem ipsum dolor</div>
								<div class="service-item__typography">
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</div>
							</div>
						</div>
						<div class="service__item service-item">
							<div class="service-item__media">
								<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/flesos-titel.jpg" alt="">
							</div>
							<div class="service-item__content">
								<div class="service-item__title">4. Lorem ipsum dolor sit amet, sadipscing elitr Lorem ipsum dolor</div>
								<div class="service-item__typography">
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</div>
							</div>
						</div>
						<div class="service__item service-item">
							<div class="service-item__media">
								<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/flesos-titel.jpg" alt="">
							</div>
							<div class="service-item__content">
								<div class="service-item__title">5. Lorem ipsum dolor sit amet, sadipscing elitr Lorem ipsum dolor</div>
								<div class="service-item__typography">
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</div>
							</div>
						</div>
						<div class="service__item service-item">
							<div class="service-item__media">
								<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/flesos-titel.jpg" alt="">
							</div>
							<div class="service-item__content">
								<div class="service-item__title">6. Lorem ipsum dolor sit amet, sadipscing elitr Lorem ipsum dolor</div>
								<div class="service-item__typography">
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</div>
							</div>
						</div>
						<div class="service__item service-item">
							<div class="service-item__media">
								<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/flesos-titel.jpg" alt="">
							</div>
							<div class="service-item__content">
								<div class="service-item__title">7. Lorem ipsum dolor sit amet, sadipscing elitr Lorem ipsum dolor</div>
								<div class="service-item__typography">
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</div>
							</div>
						</div>
						<div class="service__item service-item">
							<div class="service-item__media">
								<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/flesos-titel.jpg" alt="">
							</div>
							<div class="service-item__content">
								<div class="service-item__title">8. Lorem ipsum dolor sit amet, sadipscing elitr Lorem ipsum dolor</div>
								<div class="service-item__typography">
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</div>
							</div>
						</div>
						<div class="service__item service-item">
							<div class="service-item__media">
								<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/flesos-titel.jpg" alt="">
							</div>
							<div class="service-item__content">
								<div class="service-item__title">9. Lorem ipsum dolor sit amet, sadipscing elitr Lorem ipsum dolor</div>
								<div class="service-item__typography">
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</div>
							</div>
						</div>
						<div class="service__item service-item">
							<div class="service-item__media">
								<img class="lazy-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/demo/flesos-titel.jpg" alt="">
							</div>
							<div class="service-item__content">
								<div class="service-item__title">10. Lorem ipsum dolor sit amet, sadipscing elitr Lorem ipsum dolor</div>
								<div class="service-item__typography">
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section" style="margin: 60px 0 100px">
			<div class="container">
				<div class="contacts-card">
					<div class="contacts-card__inner">
						<div class="contacts-card__map js-map-container">
						</div>
						<div class="contacts-card__item-list">
							<a class="contacts-card__item" href="tel:0338139130">
								<svg class="icon icon-phone">
									<use xlink:href="symbol/sprite.svg#phone"></use>
								</svg>
								03381 - 39 130
							</a>
							<a class="contacts-card__item _mail" href="mailto:info@fleso.de">
								<svg class="icon icon-email">
									<use xlink:href="symbol/sprite.svg#email"></use>
								</svg>
								info@fleso.de
							</a>
							<span class="contacts-card__item _address">
								<svg class="icon icon-marker">
									<use xlink:href="symbol/sprite.svg#map-marker"></use>
								</svg>
								Barnimstraße 26<br> 14770 Brandenburg / Havel
							</span>
							<span class="contacts-card__item _worktime">
								<svg class="icon icon-clock">
									<use xlink:href="symbol/sprite.svg#clock"></use>
								</svg>
								Mo - Fr: 09:00 Uhr - 18:00 Uhr . Sa: 09:00 Uhr - 16:00 Uhr
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section" style="margin: 60px 0 60px">
			<div class="container">
			</div>
		</div>


@@include('partials/footer.html')
