		<footer class="site__footer footer">
			<div class="footer__top">
				<div class="container">
					<a href="#" class="footer__logo">
						<img src="images/logo.svg" alt="">
					</a>
				</div>
			</div>
			<div class="footer__main footer-main">
				<div class="container">
					<div class="footer-main__section">
						<div class="footer-item">
							<h3 class="footer-item__title">FleSo's Teppichbodenland Gmbh in Brandenburg an der Havel</h3>
							<div class="footer-item__content typography">
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, </p>
							</div>
						</div>
					</div>
					<div class="footer-main__section">
						<div class="footer-item">
							<h3 class="footer-item__title">Adresse</h3>
							<div class="footer-item__content _address">
								<div class="address">FleSo's Teppichbodenland GmbH Barnimstraße 26 <br>14770 Brandenburg an der Havel</div>
								<div class="map-link">
									Google Maps - <a href="#">Routenplaner</a>
								</div>
							</div>
						</div>

						<div class="footer-item">
							<h3 class="footer-item__title">Kontakt</h3>
							<div class="footer-item__content _contacts">
								<div class="contacts">
									<div class="contacts__item">Tel.: <a class="contacts__link" href="tel:0338139130" >03381 - 39 130</a></div>
									<div class="contacts__item">Mail: <a class="contacts__link" href="mailto:info@fleso.de" >info@fleso.de</a></div>
									<div class="contacts__item">Fax: 03381 - 39 130 39</div>
								</div>
								<div class="work-time">
									<div class="work-time__item">Mo - Fr: 09:00 Uhr - 18:00 Uhr</div>
									<div class="work-time__item">Sa: 09:00 Uhr - 16:00 Uhr</div>
								</div>
							</div>
						</div>

						<div class="footer-item _socialmedia">
							<div class="footer-socialmedia">
								<a class="footer-socialmedia__link _facebook" href="#">
									<svg class="icon icon-facebook-round">
										<use xlink:href="symbol/sprite.svg#facebook-round"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__mobile-bar mobile-bar">
				<div class="container">
					<div class="mobile-bar__buttons">
						<a class="mobile-bar__button" href="tel:0338139130">
							<svg class="icon icon-phone">
								<use xlink:href="symbol/sprite.svg#phone"></use>
							</svg>
						</a>
						<a class="mobile-bar__button" href="mailto:info@fleso.de">
							<svg class="icon icon-email">
								<use xlink:href="symbol/sprite.svg#email"></use>
							</svg>
						</a>
						<a class="mobile-bar__button" href="#">
							<svg class="icon icon-marker">
								<use xlink:href="symbol/sprite.svg#map-marker"></use>
							</svg>
						</a>
						<a class="mobile-bar__button" href="#">
							<svg class="icon icon-facebook-round">
								<use xlink:href="symbol/sprite.svg#facebook-round"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="footer__bottom">
				<div class="container">
					<div class="copyrights">
						<span>© 2020</span>
						FleSo's Teppichbodenland GmbH
					</div>
					<nav class="footer-nav">
						<a href="#" class="footer-nav__link">Impressum</a>
						<a href="#" class="footer-nav__link">Datenschutz</a>
					</nav>
				</div>
			</div>
			
		</footer>

		@@include('modals.html')
	</div>

	<script src="js/vendor.js"></script>
	<script src="js/index.js"></script>
	</body>

</html>