<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<title>Fleso</title>
	<meta name="description" content="">
	<meta name="keywords" content="">

	<!--== Preload Fonts -->
	<link rel="preload" href="fonts/RobotoCondensed-Regular.woff2" as="font" type="font/woff" crossorigin="">
	<link rel="preload" href="fonts/RobotoCondensed-Bold.woff2" as="font" type="font/woff" crossorigin="">


	<!--== favicon  -->
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="favicon/site.webmanifest">
	<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="css/vendor.css">
	<link rel="stylesheet" href="css/index.css">
</head>

<body class="body">
	<div class="site">

		<header class="site__header header">
			<div class="header__top-bar top-bar">
				<div class="top-bar__container container">
					<div class="top-bar__section _contacts">
						<a class="top-bar__item _mail" href="mailto:info@fleso.de">
							<svg class="icon icon-email">
								<use xlink:href="symbol/sprite.svg#email"></use>
							</svg>
							info@fleso.de</a>
						<a class="top-bar__item" href="tel:0338139130">
							<svg class="icon icon-phone">
								<use xlink:href="symbol/sprite.svg#phone"></use>
							</svg>
							03381 - 39 130
						</a>
					</div>
					<div class="top-bar__section _address">
						<span class="top-bar__item _address">
							<svg class="icon icon-clock">
								<use xlink:href="symbol/sprite.svg#clock"></use>
							</svg>
							Mo - Fr: 09:00 Uhr - 18:00 Uhr . Sa: 09:00 Uhr - 16:00 Uhr
						</span>
						<span class="top-bar__item">
							<svg class="icon icon-marker">
								<use xlink:href="symbol/sprite.svg#map-marker"></use>
							</svg>
							Barnimstraße 26 . 14770 Brandenburg / Havel
						</span>
						<span class="top-bar__item">
							<div class="socialmedia">
								<a href="#" class="socialmedia__item _facebook">
									<svg class="icon icon-facebook">
										<use xlink:href="symbol/sprite.svg#facebook"></use>
									</svg>
								</a>
							</div>
						</span>
					</div>
				</div>
			</div>
			<div class="header__main header-main">
				<div class="header-main__container container">
					<div class="header-main__inner">
						<a href="/" class="header__logo">
							<img src="images/logo.svg" alt="">
						</a>

						<nav class="header__menu menu">
						<ul class="menu__list">
							<li class="menu__item">
								<a href="/" class="menu__link _active">Home</a>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">Über Uns</a>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">Service</a>

								<ul class="submenu">
									<li class="submenu__item">
										<a href="#" class="submenu__link">Trockenbau</a>
									</li>
									<li class="submenu__item">
										<a href="#" class="submenu__link">Bodenlegearbeiten</a>
									</li>
									<li class="submenu__item">
										<a href="#" class="submenu__link">Malerarbeiten</a>
									</li>
									<li class="submenu__item">
										<a href="#" class="submenu__link">Raumausstattung</a>
									</li>
								</ul>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">Sortiment</a>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">Angebote</a>
							</li>
							<li class="menu__item">
								<a href="#" class="menu__link">Kontakt</a>
							</li>
						</ul>
						</nav>

						<button class="button-rst button-information">
							<svg class="icon icon-information">
								<use xlink:href="symbol/sprite.svg#info-circle"></use>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</header>