<div class="site__modals">

	<div id="m-alert" class="modal modal-alert">
		<div class="modal-alert__container">
			<header class="modal-alert__header">
				<div class="modal-alert__title">
					<svg class="icon icon-circle">
						<use xlink:href="symbol/sprite.svg#info-circle"></use>
					</svg>
					Aktuelle Informationen
				</div>
			</header>
			<div class="modal-alert__body">
				<div class="modal-alert__message">
					Wir haben vom 03.02.2021 - 15.02.2021 geschlossen!
				</div>
			</div>
		</div>

		<button class="modal__button-close js-modal-close">
			<svg class="icon icon-close">
				<use xlink:href="symbol/sprite.svg#close"></use>
			</svg>
		</button>
	</div>

</div>