/*============================================================================
	#Icons
==============================================================================*/

.icon {
	height: 20px;
	width: 20px;
	transition: fill 0.2s ease;
	// cursor: pointer;
}

.icon-email {
	width: 17px;
	height: 13px;
}

.icon-phone {
	width: 15px;
	height: 15px;
}

.icon-clock {
	width: 15px;
	height: 15px;
}

.icon-marker {
	width: 10px;
	height: 14px;
}

.icon-facebook {
	width: 8px;
	height: 14px;
}

.icon-information {
	width: 32px;
	height: 32px;
}

.icon-arrow-right {
	width: 30px;
	height: 15px;
}
