/*============================================================================
	#Icons
==============================================================================*/

.icon {
	height: 20px;
	width: 20px;
	transition: fill 0.2s ease;
	// cursor: pointer;
}

.icon-email {
	width: 17px;
	height: 13px;
}

.icon-phone {
	width: 15px;
	height: 15px;
}

.icon-clock {
	width: 15px;
	height: 15px;
}

.icon-marker {
	width: 10px;
	height: 14px;
}

.icon-facebook {
	width: 8px;
	height: 14px;
}

.icon-information {
	width: 32px;
	height: 32px;
}

.icon-arrow-right {
	width: 30px;
	height: 15px;
}

.icon-close {

	width: 16px;
	height: 16px;
}

.icon-tapeten {
	width: 36px;
	height: 28px;
}

.icon-farben {
	width: 36px;
	height: 32px;
}

.icon-teppichboden {
	width: 42px;
	height: 32px;
}

.icon-teppiche {
	width: 41px;
	height: 31px;
}

.icon-bodenbeläge {
	width: 30px;
	height: 30px;
}

.icon-insektenschutz {
	width: 46px;
	height: 30px;
}

.icon-markisen {
	width: 48px;
	height: 21px;
}

.icon-turen {
	width: 32px;
	height: 35px;
}

.icon-gardinen {
	width: 34px;
	height: 34px;
}

.icon-sonnenschutz {
	width: 33px;
	height: 33px;
}